canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}
#bottom {
  width: 100%;
  height: 200px;
  background-color: #2998E4;
}
h1 {
  text-align: center;
  font-family: monospace;
  color: white;
  padding-top: 50px;
}
body {
  background-color: #333;
}
